<h1>ユーザー画面</h1>


<% if @is_user_in_mypage %> <!-- ユーザーがログインしているか調べる -->
  <h4><%= @user.name %></h4>
  <% my_boards = @user.boards%>
  <% my_boards.each do |board| %>
  <%= link_to board.title, board_path(board) %>
  <% end %>
<% else %>
  <h2>他人がユーザーの詳細画面を見た場合</h2>
<% end %>


