<footer class="footer has-background-dark">
  <div class="content has-text-centered">
  <small class="has-text-white">©︎ kaito hori</small>
  </div>
</footer>
<style>
.footer {
  display: block;
  position: relative;
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>